<h2 class="inline-block"><%= t("admin.local_census_records.index.title") %></h2>

<%= render Admin::SearchComponent.new(
  label: t("admin.shared.search.label.local_census_records"),
  remote: true
) %>

<div id="local_census_records">
  <%= render "local_census_records" %>
</div>
